<html>
    <head>
    </head>
    <body>
        <div>
            <a href="{{path('login')}}">Login</a>
            <a href="{{path('account_register')}}">Register</a>
        </div>
    </body>
</html>
