<html>
    <head>
    </head>
    <body>
        <div>
            <a href="{{path('timetable_create')}}">New Timetable</a>
            <a href="{{path('logout')}}">Logout</a>
        </div>
    </body>
</html>
